@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

nav{
  background-color: #1e1e1e;
}
.nav-link.active {
      color: rgb(255, 255, 255) ;
      background-color: #1e1e1e !important; 
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  color: #444;
  background-color: #EEE;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: #1e1e1e;
}



