@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

nav{
  background-color: #1e1e1e;
}
.nav-link.active {
      color: rgb(255, 255, 255) ;
      background-color: #1e1e1e !important; 
}




